@media (min-width:1024px) {
}
@media (min-width:720px) {
}
@media (min-width:480px) {
}
@media (min-width:320px) { 
}
/*music player*/
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)  {
	.ubaplayer-button {
		background-position: 0px -70px;
		background-size: 20px 250px;
	}

	.ubaplayer-button:hover {
		background-position: 0 -107px;
	}

	.ubaplayer-button.playing {
		background-position: 0 -144px;
	}

	.ubaplayer-button.playing:hover {
		background-position: 0 -180px;
	}
}