@import '../assets/css/fonts.css';
:root {
    /* fonts */
    --font-primary: 'heavy_dataregular' sans-serif;
    --font-secondary: 'droidregular';
    --font-terciary: 'distro_batsregular';
    --font-complementary: 'stencil_gothicregular';
    --font-cool: 'hvd_peaceregular';
    /*  */
    --project-font-size: 16px;
    --font-regular: 1rem;
    /* colors */
    --color-primary: #0ACD00;
    --color-light: whitesmoke;
    --color-dark: black;
    /* sizes */
    /* general */
}

* {
    /* Debug */
    outline: 1px solid lime;
    /*  */
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-size: var(--project-font-size, 16rem)
}

img {
    object-fit: contain;
    object-position: center;
    height: 100%;
    width: 100%;
}