/* @import '@fontsource/fira-mono'; */

@font-face {
    /**estencil para titulo tiniebla*/
    font-family: 'hvd_peaceregular';
    src: url('../assets/fonts/stencil-peace/hvd_peace-webfont.eot');
    src: url('../assets/fonts/stencil-peace/hvd_peace-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/stencil-peace/hvd_peace-webfont.woff2') format('woff2'), url('../assets/fonts/stencil-peace/hvd_peace-webfont.woff') format('woff'), url('../assets/fonts/stencil-peace/hvd_peace-webfont.ttf') format('truetype'), url('../assets/fonts/stencil-peace/hvd_peace-webfont.svg#hvd_peaceregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*stencil goth*/
    font-family: 'stencil_gothicregular';
    src: url('../assets/fonts/stencil_goth/stencilgothic-webfont.eot');
    src: url('../assets/fonts/stencil_goth/stencilgothic-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/stencil_goth/stencilgothic-webfont.woff2') format('woff2'), url('../assets/fonts/stencil_goth/stencilgothic-webfont.woff') format('woff'), url('../assets/fonts/stencil_goth/stencilgothic-webfont.ttf') format('truetype'), url('../assets/fonts/stencil_goth/stencilgothic-webfont.svg#stencil_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*signs*/
    font-family: 'distro_batsregular';
    src: url('../assets/fonts/distro-sign/distrobt-webfont.eot');
    src: url('../assets/fonts/distro-sign/distrobt-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/distro-sign/distrobt-webfont.woff2') format('woff2'), url('../assets/fonts/distro-sign/distrobt-webfont.woff') format('woff'), url('../assets/fonts/distro-sign/distrobt-webfont.ttf') format('truetype'), url('../assets/fonts/distro-sign/distrobt-webfont.svg#distro_batsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/**/

@font-face {
    /*droid*/
    font-family: 'droidregular';
    src: url('../assets/fonts/droid/droid-webfont.eot');
    src: url('../assets/fonts/droid/droid-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/droid/droid-webfont.woff2') format('woff2'), url('../assets/fonts/droid/droid-webfont.woff') format('woff'), url('../assets/fonts/droid/droid-webfont.ttf') format('truetype'), url('../assets/fonts/droid/droid-webfont.svg#droidregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    /*computer*/
    font-family: 'heavy_dataregular';
    src: url('../assets/fonts/heavy_data/heavy_data-webfont.eot');
    src: url('../assets/fonts/heavy_data/heavy_data-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/heavy_data/heavy_data-webfont.woff2') format('woff2'), url('../assets/fonts/heavy_data/heavy_data-webfont.woff') format('woff'), url('../assets/fonts/heavy_data/heavy_data-webfont.ttf') format('truetype'), url('../assets/fonts/heavy_data/heavy_data-webfont.svg#heavy_dataregular') format('svg');
    font-weight: normal;
    font-style: normal;
}